/* GOOGLE FONTS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* GOOGLE FONTS IMPORTS */

/* ROOT CONFIG */
:root {
    --default-dark1-color: #83674B;
    --default-dark2-color: #9C7B5A;
    --default-dark3-color: #EACEB5;
    --default-lighten1-color: #FFEBD8;
    --default-lighten2-color: #FFDEBF;
}/* ROOT CONFIG */

/* KEYFRANES */
@keyframes movimento {
    0%{
        opacity: 0%;
        transform: translate(0px, -0.5rem)
    }
    100%{
        opacity: 100%;
        transform: translate(0, 0)
    }
}
@keyframes outro {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes animationImg {
    0%{
        opacity: 0%;
        transform: scale(1);
    
    }
    80%{
        opacity: 50%;
        transform: scale(1.2);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}/* KEYFRANES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--default-dark1-color);
}
html{
    max-width: 100vw;
    background-color: var(--default-lighten1-color);
}
body{
    max-width: 100vw;
    min-height: 100vh;
    background-color: transparent !important;
}
nav, footer{
    background-color: var(--default-dark1-color) !important;
}
.container{
    background-color: transparent !important;
}
section{
    background-color: var(--default-lighten1-color);
    margin: 2rem 0;
}
footer{
    min-height: 10vh;
}
.contatos{
    min-height: 80vh;
}
.icon-res{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #9C7B5A;
    color: white;
    border-radius: 0.6rem;
    transition: 250ms;
}
.icon-res:hover{
    background-color: #83674B;
    color: black !important;
}
.apresentacao, .skills, .repositorios{
    min-height: 88vh;
}
.card-link{
    color: var(--default-dark1-color);
    text-decoration: none;
}
.card-link:hover{
    text-decoration: underline;
}
h1{
    animation: movimento 600ms ease-in-out;
}
p{
    animation: movimento 300ms ease-in-out;
}
.myphoto{
    border-radius: 8% 8% 50% 50%;
    animation: animationImg 800ms ease-in-out;
    box-shadow: rgba(128, 128, 128, 0.473) 0 0 2rem 0.5rem;
}
.lateral-line, .lateral-line-minimal{
    position: relative;
}
.lateral-line::after{
    position: absolute;
    content: '';
    top: 0;
    left: -1.5rem;
    width: 0.5rem;
    height: 100%;
    border-radius: 0.5rem;
    background-color: var(--default-dark1-color);
    z-index: 100;
}
.lateral-line-minimal::after{
    position: absolute;
    content: '';
    top: 0;
    left: -1.5rem;
    width: 0.5rem;
    height: 60%;
    border-radius: 0.5rem;
    background-color: var(--default-dark1-color);
    z-index: 100;
}
.card{
    transition: 0.2s;
}
.card:hover {
    background-color: var(--default-dark3-color) !important;
}
@media only screen and (max-width: 600px) {
    .myphoto{
        width: 250px;
    }
}