@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@keyframes movimento {
    0%{
        opacity: 0%;
        transform: translate(0px, -0.5rem)
    }
    100%{
        opacity: 100%;
        transform: translate(0, 0)
    }
}
@keyframes outro {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes animationImg {
    0%{
        opacity: 0%;
        transform: scale(1);
    
    }
    80%{
        opacity: 50%;
        transform: scale(1.2);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    max-width: 100vw;
}
body{
    max-width: 100vw;
    min-height: 100vh;
}
nav{
    height: 10vh !important;
}
main{
    min-height: 80vh !important;
}
footer{
    height: 10vh !important;
}
.skills, .repositorios, .contatos{
    /* display: none; */
}
h1{
    animation: movimento 2s ease-out;
}
p{
    animation: movimento 1s ease-in;
}
.nav-link{
    cursor: pointer;
}
.card{
    margin: 0.5rem 0;
    z-index: -1;
}
h1{
    z-index: -1;
}
.icons{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateX(-50%);
}
.myphoto{
    /* border-radius: 31% 69% 70% 30% / 55% 47% 53% 45%; */
    border-radius: 50%;
    animation: animationImg 1s ease-out;
}
.repos-link:hover{
    color: black !important;
}
.repos:hover .link{ 
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    display: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 92%;
    transition: all 0.2s ease;
    background-color: rgba(194, 194, 194, 0.509);
    animation: outro 1s ease;
}