/* GOOGLE FONTS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* GOOGLE FONTS IMPORTS */

/* ROOT CONFIG */
:root {
  --default-color: #ffc9945d;
}/* ROOT CONFIG */

/* KEYFRANES */
@keyframes movimento {
    0%{
        opacity: 0%;
        transform: translate(0px, -0.5rem)
    }
    100%{
        opacity: 100%;
        transform: translate(0, 0)
    }
}
@keyframes outro {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes animationImg {
    0%{
        opacity: 0%;
        transform: scale(1);
    
    }
    80%{
        opacity: 50%;
        transform: scale(1.2);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}/* KEYFRANES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    color: #83674B;
}
html{
    max-width: 100vw;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #ffc9945d;
}
nav, footer{
    background-color: #83674b !important;
}
main{
    background-color: #ffc9945d;
}
footer{
    min-height: 10vh;
}
section{
    background-color: var(--default-color);
}
.contatos{
    min-height: 80vh;
}
.icon-res{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #9C7B5A;
    color: white;
    border-radius: 0.6rem;
    transition: 250ms;
}
.icon-res:hover{
    background-color: #83674B;
    color: black !important;
}
.apresentacao, .skills, .repositorios{
    min-height: 90vh;
}
a.card{
    text-decoration: none !important;
}
a.card:hover{
    box-shadow: grey 0 1rem 0 1rem;
}
.card{
    background-color: rgba(215, 180, 148, 0.515) !important;
}
h1{
    animation: movimento 600ms ease-in-out;
}
p{
    animation: movimento 300ms ease-in-out;
}
.myphoto{
    border-radius: 8% 8% 50% 50%;
    animation: animationImg 800ms ease-in-out;
    box-shadow: rgba(128, 128, 128, 0.473) 0 0 2rem 0.5rem;
}
@media only screen and (max-width: 600px) {
    .myphoto{
        width: 250px;
    }
}